
.publications-section{
    background-color: var(--dark-grey-color);
}

.publications-container{
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.timeline{
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 100%;
}

.year-container{
    max-width: 120px;
    min-width: 120px;
    max-height: 42px;
    min-height: 42px;
    background-color: var(--light-grey-color);
    border-radius: 12px;
    font-size: 22px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.publications{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
}
